# Java / IntelliJ
*.class
*.jar
*.war
*.ear
*.iml
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Maven / Gradle
target/
build/
out/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Spring Boot / general
*.properties
*.db
*.h2.db
*.sqlite