spring:
  datasource:
    master:
      url: jdbc:postgresql://192.168.56.101:5432/testdb
      username: postgres
      password: postgres

    slave:
      url: jdbc:postgresql://192.168.56.102:5432/testdb
      username: postgres
      password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 7887